body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    font-size: 1rem;
    flex-direction: column;
    gap: 20px;
}
h1{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    box-shadow:
        8px 8px 10px 16px rgba(0, 0, 0, 0.15),
        0px 4px 5px 16px rgba(255, 255, 255, 0.8);
    padding: 50px 20px;
    border-radius: 10px;
}

.user {
    display: flex;
    justify-content: center;
    margin:5px 10px 20px 10px;
}

i {
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
}

.inputBox {
    position: relative;
}

span {
    position: absolute;
    font-size: 0.75rem;
    top: 10px;
    left: 10px;
    border: none;
    outline: none;
    pointer-events: none;
    transition: 0.3s;
}

input {
    width: 90%;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

span {
    font-weight: bold;
}

.inputBox input:focus~span,
.inputBox input:valid~span {
    transform: translateX(5px) translateY(-20px);
    font-size: 12px;
    opacity: 0.8;
}

a {
    font-size: 0.75rem;
    margin-left: 10px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    border-radius: 5px;
    padding: 5px;
}

p {
    text-align: center;
}