body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #2c2c2c;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    color:aqua;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    padding:5;
    width:50px;
    height:50px;
    margin:5;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
}
h1,h2{
    text-align: center;
}