 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .container {
     display: grid;
     grid-template-columns: 250px 1fr;
     min-height: 100vh;
 }

 .sidebar, #sidebarcontent{
     display: flex;
     flex-direction: column;
     gap: 10px;
     background-color: #2c3e50;
 }

 a {
     padding: 20px;
     text-decoration: none;
     text-align: center;
     color: white;
     font-size: 24px;
 }

 p {
     margin: 20px 10px;
     font-size: 24px;
     color: #3498db;
     font-weight: bold;
 }
#maincontent{
    z-index: 0;
}
 @media (max-width: 700px) {
     .container {
        display:grid;
        grid-template-columns: 40px 1fr;
     }
     #sidebarcontent{
        display: none;
     }
     #menutoggle{
        font-size: 20px;
        padding:5px;
        display: block;
     }
 }