body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 12vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(nature.webp);
    background-position: center;
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: move 3s infinite;
}

@keyframes move {
    to {
        background-position-x: -500px;
    }
}