* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    place-items: center;
    background-color: #f2f2f2;
}

button {
    width: 50px;
    background-color: #02ddff;
    border-radius: 50px;
    padding: 0;
    margin: 10px;
}

.toggle {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.toggle span {
    margin: 0;
    padding: 0;
}

#toggle {
    background-color: #f5f5f5;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin: 0;
    padding: 0;
}

#save {
    padding: 5px;
    color: #00ddff;
    font-weight: bold;
    display: none;
}

.prices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    width: 280px;
    border-radius: 5px;
    height: 350px;
    padding: 5px;
    background-color: white;
    color: black;
    text-align: center;
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
}

h2,
h4 {
    margin: 0;
}

.heading {
    display: flex;
    flex-direction: column;
}

h4 {
    text-decoration: line-through;
}

.monthly {
    display: none;
    color: grey;
}

@media (max-width:400px) {
    .prices {
        display: flex;
        flex-direction: column;
    }
}