* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.5s;
}


body.light {
    background: #f2f2f2;
    color: #222;
}


body.dark {
    background: #1e1e1e;
    color: white;
}

.container {
    text-align: center;
}

#clock {
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin: 20px 0;
}

button {
    padding: 10px 22px;
    border: none;
    background: #0078ff;
    color: #fff;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    opacity: .8;
}