body {
    display: flex;
    min-height: 90vh;
    background-color: grey;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.skeletons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 16px;
}

.skeleton {
    width: 100%;
    height: 100px;
    ;
    aspect-ratio: 3;
    background: linear-gradient(90deg, #514e4e, #f5f5f5, #514e4e);
    background-size: 200% 100%;
    border-radius: 6px;
    animation: animate 2s infinite ease-in-out;
}

@keyframes animate {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

@media (max-width:400px) {
    .skeletons {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}