body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1b1a1a;
    color:yellow;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
input{
    font-size: 1.2rem;
    width:50px;
    padding:5px;
    border-radius: 5px;
    text-align: center;
}
button{
    font-size: 1.2rem;
    width: 100px;
    padding:5px;
    border-radius: 5px;
}