body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
    font-family: sans-serif;
    margin: 0;
}

button {
    position: relative;
    width: 160px;
    height: 60px;
    background: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
}


button::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 500%;
    top: -200%;
    left: -50%;
    background-image: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgb(255, 151, 6) 100%);
    animation: animate 3s linear infinite;
    z-index: 0;
}


button span {
    position: absolute;
    inset: 6px;
    background-color: #1a1a1a;
    border-radius: 8px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
}


button:hover span {
    background-color: #101010cc;
    color: #fcb045;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}