body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #18183e;
    flex-direction: column;
}
.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
.card{
    width:40vh;
    height:30vh;
    background:linear-gradient(180deg, rgba(255,255,255,0.06), rgba(255,255,255,0.02));
    border:1px solid rgba(255,255,255,0.05);
    border-radius: 10px;
    text-align: center;
}
h1,h2{
    color:orange;
    font-family: Arial, Helvetica, sans-serif;
}