body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2f4f7;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    perspective: 1200px;
}

.front,
.back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    backface-visibility: hidden;
    transition: transform 0.8s ease-in-out;
}

.front {
    background: linear-gradient(90deg, rgba(245, 221, 44, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(42, 123, 155, 1) 100%);
    transform: rotateY(0deg);
}

.back {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    transform: rotateY(180deg);
}

.card:hover .front {
    transform: rotateY(-180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
}

h1,
h2 {
    text-align: center;
}

h2 {
    margin-left: 30px;
}